@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic');

html {
    align-items: center;
    flex-flow: column nowrap;
    justify-content: stretch;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    /*height: 100vh;*/
    width: 100vw;
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }