@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic');

div{
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#arrival, #departure,.input-group-append .input-group-text {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: black;
    outline: none;
    margin: 10px 0;
    text-align: left;
}

#arrival, #departure, #city, #amount{
    font-family: 'Montserrat', sans-serif;
    height: 50px;
}



.submit-btn{
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    background: #0b56ea;
    border: 0;
    color: white;
    font-size: 12pt;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #07348f;
}

div .bootstrap-datetimepicker-widget.dropdown-menu {
    width: 250px;
}